.character-container {
  padding: 20px;
  margin: 15px;
  background-color: white;
  border-color: black;
  border-width: 1;
  border-radius: 4px;
  max-width: 500px;
}

.character-container h1 {
  color: black;
  font-size: 20px;
}
